{% load static %}
<div class="footer_panel">
    <hr class="hr_footer">
    <div class="f_center">
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/google.png' %}" alt="google" title="Google+"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/youtube.png' %}" alt="youtube" title="Youtube"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/facebook.png' %}" alt="facebook" title="Facebook"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/instagram.png' %}" alt="instagram" title="Instagram"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/vk.png' %}" alt="vk" title="Вконтакте"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/linkedin.png' %}" alt="linkedin" title="LinkedIn"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/steam.png' %}" alt="steam" title="Steam"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/pinterest.png' %}" alt="pinterest" title="Pinterest"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/telegram.png' %}" alt="telegram" title="Telegram"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/whatsapp.png' %}" alt="whatsapp" title="Whatsapp"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/viber.png' %}" alt="viber" title="Viber"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/skype.png' %}" alt="skype" title="Skype"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/twitter.png' %}" alt="twitter" title="Twitter"></a></div>
    <div class="social-icon"><a href="#"><img src="{% static 'Blog/images/social/yandex.png' %}" alt="yandex" title="Yandex"></a></div>
    <div class="social-icon"><a href="https://github.com/JitteryMan/Simple-Django-Blog"><img src="{% static 'Blog/images/social/github.png' %}" alt="github" title="github"></a></div>
    <div class="social-icon"><a href="https://money.yandex.ru/to/41001565554113" target="_blank"><img src="{% static 'Blog/images/social/ya_money.png' %}" alt="yandex-money" title="Яндекс.Деньги"></a></div>
    </div>
</div>