{% extends 'Blog/Wrapper.html' %}

{% block title %} Блог программиста {% endblock %}

{% block content %}
    {% if post_list %}
        {% for pl in post_list %}

            <div class="post">
                <div class="date">
                    <div class="date_time">{{ pl.date|date:"d.m" }}<br>{{ pl.date|date:"Y" }}</div>
                    <div class="views">{{ pl.get_view }}</div>
                </div>
                <div class="post_det">
                    {% if pl.is_new %}
                        <div class="new-post">NEW</div>
                    {%  endif %}
                    <h1><a href="{% url 'blog:detail' pl.uuid %}"> {{ pl.title }}</a></h1>
                    <p>{{ pl.body|safe|linebreaks|truncatewords_html:15 }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="not-found">Статьи не найдены</div>
    {% endif %}
{% endblock %}