<div class="s_panel">
    <div class="logo">
        {% load static %}
        <a href="/"><img src="{% static "Blog/images/Logo.png" %}" alt="Блог программиста" title="Блог программиста"></a>
        <h2>БЛОГ ПРОГРАММИСТА</h2>
    </div>
    <div>
        {% if tags %}
            <ul class="menu">
            {% for tag in tags %}
                <li><a href="{% url "blog:search" tag.tag_name|lower %}">{{ tag.tag_name|upper }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Метки не найдены</p>
        {% endif %}
    <div>
        <form action="{% url 'blog:search' 'search=' %}" method="get" >
            <input type="text" placeholder="Поиск..." name="q">
            <input type="submit" name="p" value="">
        </form>
    </div>
    </div>

</div>